:root {
    --primary-color: #e6be1e;
    --secondary-color: #000000;
    --neutral-color: #ffffff;
    --tertiary-color: #808080;
}

header.header-light .logo-2 {
    width: 58px
}

/* Default styles for the section */
#section-hero {
    background-image: url(../../images/background/7.jpg);
    /* Atur gaya latar belakang default di sini */
}

/* Media query untuk resolusi layar di bawah 414 piksel */
@media (max-width: 922px) {
    #section-hero {
        background-image: none; /* Menghapus gambar latar belakang */
        /* Atau Anda juga bisa menggunakan 'display: none;' untuk menyembunyikan seluruh section jika diperlukan */
    }

    #section-hero img[class=img-fluid] {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #content section:first-of-type {
        padding-top: 114px;
    }
} 

/* @media (max-width: 480px) {
    #content section:first-of-type{
        display: none;
    }

    .no-top {
        padding-top: 60px !important;
    }

    #section-img-with-tab {
        display: none;
    }
}    

@media (max-width: 990px) {
    #content section:first-of-type{
        display: none;
    }

    .no-top {
        padding-top: 80px;
    }

    #section-img-with-tab {
        display: none;
    }
}     */

.quotes {
    font-family: 'Kalam', sans-serif;
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    line-height: 40px;
}

.quotes p {
    font-family: 'Kalam', sans-serif;
    text-align: center;
    font-size: larger;
    line-height: 70px;
}

#section-img-with-tab {
    background-color: rgb(245, 245, 245)
}

img[class="car_photo"] {
    height: 200px !important;
    object-fit: cover;
}

.heaadline {
    color: var(--neutral-color) !important;
    background-color: var(--primary-color) !important;
}

/* login */
.form-control {
    border: solid 2px #eeeeee !important;
    background: none;
    padding: 8px;
}

.form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.post-image img {
    height: 230px;
    object-fit: cover;
}